{
    "swagger": "2.0",
    "info": {
        "title": "Fortnox API",
        "version": "1.0.2",
        "description": "Connection to Fortnox API",
        "contact": {
            "name": "Mathias Törnblom",
            "email": "mathias@tornbloms.net"
        }
    },
    "host": "api.fortnox.se",
    "basePath": "/3/",
    "x-ms-throttling": {
        "rate": {
            "limit": 4,
            "window": 1
        }
    },
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "paths": {
        "/customers": {
            "get": {
                "tags": ["Customers"],
                "summary": "List Customers",
                "description": "Customers",
                "operationId": "GetAllCustomers",
                "parameters": [
                    {
                        "name": "limit",
                        "default": 500,
                        "in": "query",
                        "type": "integer",
                        "required": false,
                        "x-ms-visibility": "advanced"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "type": "string",
                        "required": false,
                        "x-ms-visibility": "advanced",
                        "enum": ["active", "inactive"]
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "type": "integer",
                        "required": false,
                        "x-ms-visibility": "advanced",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "default",
                        "schema": {}
                    }
                },
                "x-ms-visibility": "important"
            }
        },
        "/customers/{CustomerNumber}": {
            "get": {
                "tags": ["Customers"],
                "responses": {
                    "200": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Customer": {
                                    "type": "object",
                                    "properties": {
                                        "@url": {
                                            "type": "string",
                                            "description": "@url"
                                        },
                                        "Address1": {
                                            "type": "string",
                                            "description": "Address1"
                                        },
                                        "Address2": {
                                            "type": "string",
                                            "description": "Address2"
                                        },
                                        "City": {
                                            "type": "string",
                                            "description": "City"
                                        },
                                        "Country": {
                                            "type": "string",
                                            "description": "Country"
                                        },
                                        "Comments": {
                                            "type": "string",
                                            "description": "Comments"
                                        },
                                        "Currency": {
                                            "type": "string",
                                            "description": "Currency"
                                        },
                                        "CostCenter": {
                                            "type": "string",
                                            "description": "CostCenter"
                                        },
                                        "CountryCode": {
                                            "type": "string",
                                            "description": "CountryCode"
                                        },
                                        "Active": {
                                            "type": "boolean",
                                            "description": "Active"
                                        },
                                        "CustomerNumber": {
                                            "type": "string",
                                            "description": "CustomerNumber"
                                        },
                                        "DefaultDeliveryTypes": {
                                            "type": "object",
                                            "properties": {
                                                "Invoice": {
                                                    "type": "string",
                                                    "description": "Invoice"
                                                },
                                                "Order": {
                                                    "type": "string",
                                                    "description": "Order"
                                                },
                                                "Offer": {
                                                    "type": "string",
                                                    "description": "Offer"
                                                }
                                            },
                                            "description": "DefaultDeliveryTypes"
                                        },
                                        "DefaultTemplates": {
                                            "type": "object",
                                            "properties": {
                                                "CashInvoice": {
                                                    "type": "string",
                                                    "description": "CashInvoice"
                                                },
                                                "Invoice": {
                                                    "type": "string",
                                                    "description": "Invoice"
                                                },
                                                "Offer": {
                                                    "type": "string",
                                                    "description": "Offer"
                                                },
                                                "Order": {
                                                    "type": "string",
                                                    "description": "Order"
                                                }
                                            },
                                            "description": "DefaultTemplates"
                                        },
                                        "DeliveryAddress1": {
                                            "type": "string",
                                            "description": "DeliveryAddress1"
                                        },
                                        "DeliveryAddress2": {
                                            "type": "string",
                                            "description": "DeliveryAddress2"
                                        },
                                        "DeliveryCity": {
                                            "type": "string",
                                            "description": "DeliveryCity"
                                        },
                                        "DeliveryCountry": {
                                            "type": "string",
                                            "description": "DeliveryCountry"
                                        },
                                        "DeliveryCountryCode": {
                                            "type": "string",
                                            "description": "DeliveryCountryCode"
                                        },
                                        "DeliveryFax": {
                                            "type": "string",
                                            "description": "DeliveryFax"
                                        },
                                        "DeliveryName": {
                                            "type": "string",
                                            "description": "DeliveryName"
                                        },
                                        "DeliveryPhone1": {
                                            "type": "string",
                                            "description": "DeliveryPhone1"
                                        },
                                        "DeliveryPhone2": {
                                            "type": "string",
                                            "description": "DeliveryPhone2"
                                        },
                                        "DeliveryZipCode": {
                                            "type": "string",
                                            "description": "DeliveryZipCode"
                                        },
                                        "Email": {
                                            "type": "string",
                                            "description": "Email"
                                        },
                                        "EmailInvoice": {
                                            "type": "string",
                                            "description": "EmailInvoice"
                                        },
                                        "EmailInvoiceBCC": {
                                            "type": "string",
                                            "description": "EmailInvoiceBCC"
                                        },
                                        "EmailInvoiceCC": {
                                            "type": "string",
                                            "description": "EmailInvoiceCC"
                                        },
                                        "EmailOffer": {
                                            "type": "string",
                                            "description": "EmailOffer"
                                        },
                                        "EmailOfferBCC": {
                                            "type": "string",
                                            "description": "EmailOfferBCC"
                                        },
                                        "EmailOfferCC": {
                                            "type": "string",
                                            "description": "EmailOfferCC"
                                        },
                                        "EmailOrder": {
                                            "type": "string",
                                            "description": "EmailOrder"
                                        },
                                        "EmailOrderBCC": {
                                            "type": "string",
                                            "description": "EmailOrderBCC"
                                        },
                                        "EmailOrderCC": {
                                            "type": "string",
                                            "description": "EmailOrderCC"
                                        },
                                        "ExternalReference": {
                                            "type": "string",
                                            "description": "ExternalReference"
                                        },
                                        "Fax": {
                                            "type": "string",
                                            "description": "Fax"
                                        },
                                        "GLN": {
                                            "type": "string",
                                            "description": "GLN"
                                        },
                                        "GLNDelivery": {
                                            "type": "string",
                                            "description": "GLNDelivery"
                                        },
                                        "InvoiceAdministrationFee": {
                                            "type": "string",
                                            "description": "InvoiceAdministrationFee"
                                        },
                                        "InvoiceDiscount": {
                                            "type": "string",
                                            "description": "InvoiceDiscount"
                                        },
                                        "InvoiceFreight": {
                                            "type": "string",
                                            "description": "InvoiceFreight"
                                        },
                                        "InvoiceRemark": {
                                            "type": "string",
                                            "description": "InvoiceRemark"
                                        },
                                        "Name": {
                                            "type": "string",
                                            "description": "Name"
                                        },
                                        "OrganisationNumber": {
                                            "type": "string",
                                            "description": "OrganisationNumber"
                                        },
                                        "OurReference": {
                                            "type": "string",
                                            "description": "OurReference"
                                        },
                                        "Phone1": {
                                            "type": "string",
                                            "description": "Phone1"
                                        },
                                        "Phone2": {
                                            "type": "string",
                                            "description": "Phone2"
                                        },
                                        "PriceList": {
                                            "type": "string",
                                            "description": "PriceList"
                                        },
                                        "Project": {
                                            "type": "string",
                                            "description": "Project"
                                        },
                                        "SalesAccount": {
                                            "type": "string",
                                            "description": "SalesAccount"
                                        },
                                        "ShowPriceVATIncluded": {
                                            "type": "boolean",
                                            "description": "ShowPriceVATIncluded"
                                        },
                                        "TermsOfDelivery": {
                                            "type": "string",
                                            "description": "TermsOfDelivery"
                                        },
                                        "TermsOfPayment": {
                                            "type": "string",
                                            "description": "TermsOfPayment"
                                        },
                                        "Type": {
                                            "type": "string",
                                            "description": "Type"
                                        },
                                        "VATNumber": {
                                            "type": "string",
                                            "description": "VATNumber"
                                        },
                                        "VATType": {
                                            "type": "string",
                                            "description": "VATType"
                                        },
                                        "VisitingAddress": {
                                            "type": "string",
                                            "description": "VisitingAddress"
                                        },
                                        "VisitingCity": {
                                            "type": "string",
                                            "description": "VisitingCity"
                                        },
                                        "VisitingCountry": {
                                            "type": "string",
                                            "description": "VisitingCountry"
                                        },
                                        "VisitingCountryCode": {
                                            "type": "string",
                                            "description": "VisitingCountryCode"
                                        },
                                        "VisitingZipCode": {
                                            "type": "string",
                                            "description": "VisitingZipCode"
                                        },
                                        "WayOfDelivery": {
                                            "type": "string",
                                            "description": "WayOfDelivery"
                                        },
                                        "WWW": {
                                            "type": "string",
                                            "description": "WWW"
                                        },
                                        "YourReference": {
                                            "type": "string",
                                            "description": "YourReference"
                                        },
                                        "ZipCode": {
                                            "type": "string",
                                            "description": "ZipCode"
                                        }
                                    },
                                    "description": "Customer"
                                }
                            }
                        }
                    }
                },
                "summary": "Get Customer",
                "description": "Get a customer by id",
                "operationId": "GetCustomer",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "CustomerNumber",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "identifies the customer",
                        "x-ms-visibility": "important"
                    }
                ]
            },
            "put": {
                "tags": ["Customers"],
                "responses": {
                    "200": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Customer": {
                                    "type": "object",
                                    "properties": {
                                        "@url": {
                                            "type": "string",
                                            "description": "@url"
                                        },
                                        "Address1": {
                                            "type": "string",
                                            "description": "Address1"
                                        },
                                        "Address2": {
                                            "type": "string",
                                            "description": "Address2"
                                        },
                                        "City": {
                                            "type": "string",
                                            "description": "City"
                                        },
                                        "Country": {
                                            "type": "string",
                                            "description": "Country"
                                        },
                                        "Comments": {
                                            "type": "string",
                                            "description": "Comments"
                                        },
                                        "Currency": {
                                            "type": "string",
                                            "description": "Currency"
                                        },
                                        "CostCenter": {
                                            "type": "string",
                                            "description": "CostCenter"
                                        },
                                        "CountryCode": {
                                            "type": "string",
                                            "description": "CountryCode"
                                        },
                                        "Active": {
                                            "type": "boolean",
                                            "description": "Active"
                                        },
                                        "CustomerNumber": {
                                            "type": "string",
                                            "description": "CustomerNumber"
                                        },
                                        "DefaultDeliveryTypes": {
                                            "type": "object",
                                            "properties": {
                                                "Invoice": {
                                                    "type": "string",
                                                    "description": "Invoice"
                                                },
                                                "Order": {
                                                    "type": "string",
                                                    "description": "Order"
                                                },
                                                "Offer": {
                                                    "type": "string",
                                                    "description": "Offer"
                                                }
                                            },
                                            "description": "DefaultDeliveryTypes"
                                        },
                                        "DefaultTemplates": {
                                            "type": "object",
                                            "properties": {
                                                "CashInvoice": {
                                                    "type": "string",
                                                    "description": "CashInvoice"
                                                },
                                                "Invoice": {
                                                    "type": "string",
                                                    "description": "Invoice"
                                                },
                                                "Offer": {
                                                    "type": "string",
                                                    "description": "Offer"
                                                },
                                                "Order": {
                                                    "type": "string",
                                                    "description": "Order"
                                                }
                                            },
                                            "description": "DefaultTemplates"
                                        },
                                        "DeliveryAddress1": {
                                            "type": "string",
                                            "description": "DeliveryAddress1"
                                        },
                                        "DeliveryAddress2": {
                                            "type": "string",
                                            "description": "DeliveryAddress2"
                                        },
                                        "DeliveryCity": {
                                            "type": "string",
                                            "description": "DeliveryCity"
                                        },
                                        "DeliveryCountry": {
                                            "type": "string",
                                            "description": "DeliveryCountry"
                                        },
                                        "DeliveryCountryCode": {
                                            "type": "string",
                                            "description": "DeliveryCountryCode"
                                        },
                                        "DeliveryFax": {
                                            "type": "string",
                                            "description": "DeliveryFax"
                                        },
                                        "DeliveryName": {
                                            "type": "string",
                                            "description": "DeliveryName"
                                        },
                                        "DeliveryPhone1": {
                                            "type": "string",
                                            "description": "DeliveryPhone1"
                                        },
                                        "DeliveryPhone2": {
                                            "type": "string",
                                            "description": "DeliveryPhone2"
                                        },
                                        "DeliveryZipCode": {
                                            "type": "string",
                                            "description": "DeliveryZipCode"
                                        },
                                        "Email": {
                                            "type": "string",
                                            "description": "Email"
                                        },
                                        "EmailInvoice": {
                                            "type": "string",
                                            "description": "EmailInvoice"
                                        },
                                        "EmailInvoiceBCC": {
                                            "type": "string",
                                            "description": "EmailInvoiceBCC"
                                        },
                                        "EmailInvoiceCC": {
                                            "type": "string",
                                            "description": "EmailInvoiceCC"
                                        },
                                        "EmailOffer": {
                                            "type": "string",
                                            "description": "EmailOffer"
                                        },
                                        "EmailOfferBCC": {
                                            "type": "string",
                                            "description": "EmailOfferBCC"
                                        },
                                        "EmailOfferCC": {
                                            "type": "string",
                                            "description": "EmailOfferCC"
                                        },
                                        "EmailOrder": {
                                            "type": "string",
                                            "description": "EmailOrder"
                                        },
                                        "EmailOrderBCC": {
                                            "type": "string",
                                            "description": "EmailOrderBCC"
                                        },
                                        "EmailOrderCC": {
                                            "type": "string",
                                            "description": "EmailOrderCC"
                                        },
                                        "ExternalReference": {
                                            "type": "string",
                                            "description": "ExternalReference"
                                        },
                                        "Fax": {
                                            "type": "string",
                                            "description": "Fax"
                                        },
                                        "GLN": {
                                            "type": "string",
                                            "description": "GLN"
                                        },
                                        "GLNDelivery": {
                                            "type": "string",
                                            "description": "GLNDelivery"
                                        },
                                        "InvoiceAdministrationFee": {
                                            "type": "string",
                                            "description": "InvoiceAdministrationFee"
                                        },
                                        "InvoiceDiscount": {
                                            "type": "string",
                                            "description": "InvoiceDiscount"
                                        },
                                        "InvoiceFreight": {
                                            "type": "string",
                                            "description": "InvoiceFreight"
                                        },
                                        "InvoiceRemark": {
                                            "type": "string",
                                            "description": "InvoiceRemark"
                                        },
                                        "Name": {
                                            "type": "string",
                                            "description": "Name"
                                        },
                                        "OrganisationNumber": {
                                            "type": "string",
                                            "description": "OrganisationNumber"
                                        },
                                        "OurReference": {
                                            "type": "string",
                                            "description": "OurReference"
                                        },
                                        "Phone1": {
                                            "type": "string",
                                            "description": "Phone1"
                                        },
                                        "Phone2": {
                                            "type": "string",
                                            "description": "Phone2"
                                        },
                                        "PriceList": {
                                            "type": "string",
                                            "description": "PriceList"
                                        },
                                        "Project": {
                                            "type": "string",
                                            "description": "Project"
                                        },
                                        "SalesAccount": {
                                            "type": "string",
                                            "description": "SalesAccount"
                                        },
                                        "ShowPriceVATIncluded": {
                                            "type": "boolean",
                                            "description": "ShowPriceVATIncluded"
                                        },
                                        "TermsOfDelivery": {
                                            "type": "string",
                                            "description": "TermsOfDelivery"
                                        },
                                        "TermsOfPayment": {
                                            "type": "string",
                                            "description": "TermsOfPayment"
                                        },
                                        "Type": {
                                            "type": "string",
                                            "description": "Type"
                                        },
                                        "VATNumber": {
                                            "type": "string",
                                            "description": "VATNumber"
                                        },
                                        "VATType": {
                                            "type": "string",
                                            "description": "VATType"
                                        },
                                        "VisitingAddress": {
                                            "type": "string",
                                            "description": "VisitingAddress"
                                        },
                                        "VisitingCity": {
                                            "type": "string",
                                            "description": "VisitingCity"
                                        },
                                        "VisitingCountry": {
                                            "type": "string",
                                            "description": "VisitingCountry"
                                        },
                                        "VisitingCountryCode": {
                                            "type": "string",
                                            "description": "VisitingCountryCode"
                                        },
                                        "VisitingZipCode": {
                                            "type": "string",
                                            "description": "VisitingZipCode"
                                        },
                                        "WayOfDelivery": {
                                            "type": "string",
                                            "description": "WayOfDelivery"
                                        },
                                        "WWW": {
                                            "type": "string",
                                            "description": "WWW"
                                        },
                                        "YourReference": {
                                            "type": "string",
                                            "description": "YourReference"
                                        },
                                        "ZipCode": {
                                            "type": "string",
                                            "description": "ZipCode"
                                        }
                                    },
                                    "description": "Customer"
                                }
                            }
                        }
                    }
                },
                "summary": "Update a customer",
                "description": "The updated customer will be returned if everything succeeded, if there was any problems an error will be returned.  You need to supply the unique customer number of the customer that you want to update.  Only the properties provided in the request body will be updated, properties not provided will left unchanged.",
                "operationId": "UpdateCustomer",
                "x-ms-visibility": "advanced",
                "parameters": [
                    {
                        "name": "CustomerNumber",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Identifies the customer",
                        "x-ms-summary": "Identifies the customer",
                        "x-ms-visibility": "important"
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "required": false,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Customer": {
                                    "type": "object",
                                    "properties": {
                                        "@url": {
                                            "type": "string",
                                            "description": "@url"
                                        },
                                        "Address1": {
                                            "type": "string",
                                            "description": "Address1"
                                        },
                                        "Address2": {
                                            "type": "string",
                                            "description": "Address2"
                                        },
                                        "City": {
                                            "type": "string",
                                            "description": "City"
                                        },
                                        "Country": {
                                            "type": "string",
                                            "description": "Country"
                                        },
                                        "Comments": {
                                            "type": "string",
                                            "description": "Comments"
                                        },
                                        "Currency": {
                                            "type": "string",
                                            "description": "Currency"
                                        },
                                        "CostCenter": {
                                            "type": "string",
                                            "description": "CostCenter"
                                        },
                                        "CountryCode": {
                                            "type": "string",
                                            "description": "CountryCode"
                                        },
                                        "Active": {
                                            "type": "boolean",
                                            "description": "Active"
                                        },
                                        "CustomerNumber": {
                                            "type": "string",
                                            "description": "CustomerNumber"
                                        },
                                        "DefaultDeliveryTypes": {
                                            "type": "object",
                                            "properties": {
                                                "Invoice": {
                                                    "type": "string",
                                                    "description": "Invoice"
                                                },
                                                "Order": {
                                                    "type": "string",
                                                    "description": "Order"
                                                },
                                                "Offer": {
                                                    "type": "string",
                                                    "description": "Offer"
                                                }
                                            },
                                            "description": "DefaultDeliveryTypes"
                                        },
                                        "DefaultTemplates": {
                                            "type": "object",
                                            "properties": {
                                                "CashInvoice": {
                                                    "type": "string",
                                                    "description": "CashInvoice"
                                                },
                                                "Invoice": {
                                                    "type": "string",
                                                    "description": "Invoice"
                                                },
                                                "Offer": {
                                                    "type": "string",
                                                    "description": "Offer"
                                                },
                                                "Order": {
                                                    "type": "string",
                                                    "description": "Order"
                                                }
                                            },
                                            "description": "DefaultTemplates"
                                        },
                                        "DeliveryAddress1": {
                                            "type": "string",
                                            "description": "DeliveryAddress1"
                                        },
                                        "DeliveryAddress2": {
                                            "type": "string",
                                            "description": "DeliveryAddress2"
                                        },
                                        "DeliveryCity": {
                                            "type": "string",
                                            "description": "DeliveryCity"
                                        },
                                        "DeliveryCountry": {
                                            "type": "string",
                                            "description": "DeliveryCountry"
                                        },
                                        "DeliveryCountryCode": {
                                            "type": "string",
                                            "description": "DeliveryCountryCode"
                                        },
                                        "DeliveryFax": {
                                            "type": "string",
                                            "description": "DeliveryFax"
                                        },
                                        "DeliveryName": {
                                            "type": "string",
                                            "description": "DeliveryName"
                                        },
                                        "DeliveryPhone1": {
                                            "type": "string",
                                            "description": "DeliveryPhone1"
                                        },
                                        "DeliveryPhone2": {
                                            "type": "string",
                                            "description": "DeliveryPhone2"
                                        },
                                        "DeliveryZipCode": {
                                            "type": "string",
                                            "description": "DeliveryZipCode"
                                        },
                                        "Email": {
                                            "type": "string",
                                            "description": "Email"
                                        },
                                        "EmailInvoice": {
                                            "type": "string",
                                            "description": "EmailInvoice"
                                        },
                                        "EmailInvoiceBCC": {
                                            "type": "string",
                                            "description": "EmailInvoiceBCC"
                                        },
                                        "EmailInvoiceCC": {
                                            "type": "string",
                                            "description": "EmailInvoiceCC"
                                        },
                                        "EmailOffer": {
                                            "type": "string",
                                            "description": "EmailOffer"
                                        },
                                        "EmailOfferBCC": {
                                            "type": "string",
                                            "description": "EmailOfferBCC"
                                        },
                                        "EmailOfferCC": {
                                            "type": "string",
                                            "description": "EmailOfferCC"
                                        },
                                        "EmailOrder": {
                                            "type": "string",
                                            "description": "EmailOrder"
                                        },
                                        "EmailOrderBCC": {
                                            "type": "string",
                                            "description": "EmailOrderBCC"
                                        },
                                        "EmailOrderCC": {
                                            "type": "string",
                                            "description": "EmailOrderCC"
                                        },
                                        "ExternalReference": {
                                            "type": "string",
                                            "description": "ExternalReference"
                                        },
                                        "Fax": {
                                            "type": "string",
                                            "description": "Fax"
                                        },
                                        "GLN": {
                                            "type": "string",
                                            "description": "GLN"
                                        },
                                        "GLNDelivery": {
                                            "type": "string",
                                            "description": "GLNDelivery"
                                        },
                                        "InvoiceAdministrationFee": {
                                            "type": "string",
                                            "description": "InvoiceAdministrationFee"
                                        },
                                        "InvoiceDiscount": {
                                            "type": "string",
                                            "description": "InvoiceDiscount"
                                        },
                                        "InvoiceFreight": {
                                            "type": "string",
                                            "description": "InvoiceFreight"
                                        },
                                        "InvoiceRemark": {
                                            "type": "string",
                                            "description": "InvoiceRemark"
                                        },
                                        "Name": {
                                            "type": "string",
                                            "description": "Name"
                                        },
                                        "OrganisationNumber": {
                                            "type": "string",
                                            "description": "OrganisationNumber"
                                        },
                                        "OurReference": {
                                            "type": "string",
                                            "description": "OurReference"
                                        },
                                        "Phone1": {
                                            "type": "string",
                                            "description": "Phone1"
                                        },
                                        "Phone2": {
                                            "type": "string",
                                            "description": "Phone2"
                                        },
                                        "PriceList": {
                                            "type": "string",
                                            "description": "PriceList"
                                        },
                                        "Project": {
                                            "type": "string",
                                            "description": "Project"
                                        },
                                        "SalesAccount": {
                                            "type": "string",
                                            "description": "SalesAccount"
                                        },
                                        "ShowPriceVATIncluded": {
                                            "type": "boolean",
                                            "description": "ShowPriceVATIncluded"
                                        },
                                        "TermsOfDelivery": {
                                            "type": "string",
                                            "description": "TermsOfDelivery"
                                        },
                                        "TermsOfPayment": {
                                            "type": "string",
                                            "description": "TermsOfPayment"
                                        },
                                        "Type": {
                                            "type": "string",
                                            "description": "Type"
                                        },
                                        "VATNumber": {
                                            "type": "string",
                                            "description": "VATNumber"
                                        },
                                        "VATType": {
                                            "type": "string",
                                            "description": "VATType"
                                        },
                                        "VisitingAddress": {
                                            "type": "string",
                                            "description": "VisitingAddress"
                                        },
                                        "VisitingCity": {
                                            "type": "string",
                                            "description": "VisitingCity"
                                        },
                                        "VisitingCountry": {
                                            "type": "string",
                                            "description": "VisitingCountry"
                                        },
                                        "VisitingCountryCode": {
                                            "type": "string",
                                            "description": "VisitingCountryCode"
                                        },
                                        "VisitingZipCode": {
                                            "type": "string",
                                            "description": "VisitingZipCode"
                                        },
                                        "WayOfDelivery": {
                                            "type": "string",
                                            "description": "WayOfDelivery"
                                        },
                                        "WWW": {
                                            "type": "string",
                                            "description": "WWW"
                                        },
                                        "YourReference": {
                                            "type": "string",
                                            "description": "YourReference"
                                        },
                                        "ZipCode": {
                                            "type": "string",
                                            "description": "ZipCode"
                                        }
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        },
        "/orders": {
            "post": {
                "tags": ["Orders"],
                "responses": {
                    "200": {
                        "description": "default",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Order": {
                                    "type": "object",
                                    "properties": {
                                        "@url": {
                                            "type": "string",
                                            "description": "@url"
                                        },
                                        "@urlTaxReductionList": {
                                            "type": "string",
                                            "description": "@urlTaxReductionList"
                                        },
                                        "AdministrationFee": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "AdministrationFee"
                                        },
                                        "AdministrationFeeVAT": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "AdministrationFeeVAT"
                                        },
                                        "Address1": {
                                            "type": "string",
                                            "description": "Address1"
                                        },
                                        "Address2": {
                                            "type": "string",
                                            "description": "Address2"
                                        },
                                        "BasisTaxReduction": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "BasisTaxReduction"
                                        },
                                        "Cancelled": {
                                            "type": "boolean",
                                            "description": "Cancelled"
                                        },
                                        "City": {
                                            "type": "string",
                                            "description": "City"
                                        },
                                        "Comments": {
                                            "type": "string",
                                            "description": "Comments"
                                        },
                                        "ContributionPercent": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "ContributionPercent"
                                        },
                                        "ContributionValue": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "ContributionValue"
                                        },
                                        "CopyRemarks": {
                                            "type": "boolean",
                                            "description": "CopyRemarks"
                                        },
                                        "Country": {
                                            "type": "string",
                                            "description": "Country"
                                        },
                                        "CostCenter": {
                                            "type": "string",
                                            "description": "CostCenter"
                                        },
                                        "Currency": {
                                            "type": "string",
                                            "description": "Currency"
                                        },
                                        "CurrencyRate": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "CurrencyRate"
                                        },
                                        "CurrencyUnit": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "CurrencyUnit"
                                        },
                                        "CustomerName": {
                                            "type": "string",
                                            "description": "CustomerName"
                                        },
                                        "CustomerNumber": {
                                            "type": "string",
                                            "description": "CustomerNumber"
                                        },
                                        "DeliveryState": {
                                            "type": "string",
                                            "description": "DeliveryState"
                                        },
                                        "DeliveryAddress1": {
                                            "type": "string",
                                            "description": "DeliveryAddress1"
                                        },
                                        "DeliveryAddress2": {
                                            "type": "string",
                                            "description": "DeliveryAddress2"
                                        },
                                        "DeliveryCity": {
                                            "type": "string",
                                            "description": "DeliveryCity"
                                        },
                                        "DeliveryCountry": {
                                            "type": "string",
                                            "description": "DeliveryCountry"
                                        },
                                        "DeliveryDate": {
                                            "type": "string",
                                            "description": "DeliveryDate"
                                        },
                                        "DeliveryName": {
                                            "type": "string",
                                            "description": "DeliveryName"
                                        },
                                        "DeliveryZipCode": {
                                            "type": "string",
                                            "description": "DeliveryZipCode"
                                        },
                                        "DocumentNumber": {
                                            "type": "string",
                                            "description": "DocumentNumber"
                                        },
                                        "EmailInformation": {
                                            "type": "object",
                                            "properties": {
                                                "EmailAddressFrom": {
                                                    "type": "string",
                                                    "description": "EmailAddressFrom"
                                                },
                                                "EmailAddressTo": {
                                                    "type": "string",
                                                    "description": "EmailAddressTo"
                                                },
                                                "EmailAddressCC": {
                                                    "type": "string",
                                                    "description": "EmailAddressCC"
                                                },
                                                "EmailAddressBCC": {
                                                    "type": "string",
                                                    "description": "EmailAddressBCC"
                                                },
                                                "EmailSubject": {
                                                    "type": "string",
                                                    "description": "EmailSubject"
                                                },
                                                "EmailBody": {
                                                    "type": "string",
                                                    "description": "EmailBody"
                                                }
                                            },
                                            "description": "EmailInformation"
                                        },
                                        "ExternalInvoiceReference1": {
                                            "type": "string",
                                            "description": "ExternalInvoiceReference1"
                                        },
                                        "ExternalInvoiceReference2": {
                                            "type": "string",
                                            "description": "ExternalInvoiceReference2"
                                        },
                                        "Freight": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Freight"
                                        },
                                        "FreightVAT": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "FreightVAT"
                                        },
                                        "Gross": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Gross"
                                        },
                                        "HouseWork": {
                                            "type": "boolean",
                                            "description": "HouseWork"
                                        },
                                        "InvoiceReference": {
                                            "type": "string",
                                            "description": "InvoiceReference"
                                        },
                                        "Labels": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "Id": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Id"
                                                    }
                                                }
                                            },
                                            "description": "Labels"
                                        },
                                        "Language": {
                                            "type": "string",
                                            "description": "Language"
                                        },
                                        "Net": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Net"
                                        },
                                        "NotCompleted": {
                                            "type": "boolean",
                                            "description": "NotCompleted"
                                        },
                                        "OfferReference": {
                                            "type": "string",
                                            "description": "OfferReference"
                                        },
                                        "OrderDate": {
                                            "type": "string",
                                            "description": "OrderDate"
                                        },
                                        "OrderRows": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "AccountNumber": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "AccountNumber"
                                                    },
                                                    "ArticleNumber": {
                                                        "type": "string",
                                                        "description": "ArticleNumber"
                                                    },
                                                    "ContributionPercent": {
                                                        "type": "string",
                                                        "description": "ContributionPercent"
                                                    },
                                                    "ContributionValue": {
                                                        "type": "string",
                                                        "description": "ContributionValue"
                                                    },
                                                    "CostCenter": {
                                                        "type": "string",
                                                        "description": "CostCenter"
                                                    },
                                                    "DeliveredQuantity": {
                                                        "type": "string",
                                                        "description": "DeliveredQuantity"
                                                    },
                                                    "Description": {
                                                        "type": "string",
                                                        "description": "Description"
                                                    },
                                                    "Discount": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Discount"
                                                    },
                                                    "DiscountType": {
                                                        "type": "string",
                                                        "description": "DiscountType"
                                                    },
                                                    "HouseWork": {
                                                        "type": "boolean",
                                                        "description": "HouseWork"
                                                    },
                                                    "HouseWorkHoursToReport": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "HouseWorkHoursToReport"
                                                    },
                                                    "HouseWorkType": {
                                                        "type": "string",
                                                        "description": "HouseWorkType"
                                                    },
                                                    "OrderedQuantity": {
                                                        "type": "string",
                                                        "description": "OrderedQuantity"
                                                    },
                                                    "Price": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Price"
                                                    },
                                                    "Project": {
                                                        "type": "string",
                                                        "description": "Project"
                                                    },
                                                    "ReservedQuantity": {
                                                        "type": "string",
                                                        "description": "ReservedQuantity"
                                                    },
                                                    "RowId": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "RowId"
                                                    },
                                                    "StockPointCode": {
                                                        "type": "string",
                                                        "description": "StockPointCode"
                                                    },
                                                    "StockPointId": {
                                                        "type": "string",
                                                        "description": "StockPointId"
                                                    },
                                                    "Total": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "Total"
                                                    },
                                                    "Unit": {
                                                        "type": "string",
                                                        "description": "Unit"
                                                    },
                                                    "VAT": {
                                                        "type": "integer",
                                                        "format": "int32",
                                                        "description": "VAT"
                                                    }
                                                }
                                            },
                                            "description": "OrderRows"
                                        },
                                        "OrderType": {
                                            "type": "string",
                                            "description": "OrderType"
                                        },
                                        "OrganisationNumber": {
                                            "type": "string",
                                            "description": "OrganisationNumber"
                                        },
                                        "OurReference": {
                                            "type": "string",
                                            "description": "OurReference"
                                        },
                                        "Phone1": {
                                            "type": "string",
                                            "description": "Phone1"
                                        },
                                        "Phone2": {
                                            "type": "string",
                                            "description": "Phone2"
                                        },
                                        "PriceList": {
                                            "type": "string",
                                            "description": "PriceList"
                                        },
                                        "PrintTemplate": {
                                            "type": "string",
                                            "description": "PrintTemplate"
                                        },
                                        "Project": {
                                            "type": "string",
                                            "description": "Project"
                                        },
                                        "WarehouseReady": {
                                            "type": "boolean",
                                            "description": "WarehouseReady"
                                        },
                                        "OutboundDate": {
                                            "type": "string",
                                            "description": "OutboundDate"
                                        },
                                        "Remarks": {
                                            "type": "string",
                                            "description": "Remarks"
                                        },
                                        "RoundOff": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "RoundOff"
                                        },
                                        "Sent": {
                                            "type": "boolean",
                                            "description": "Sent"
                                        },
                                        "TaxReduction": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "TaxReduction"
                                        },
                                        "TermsOfDelivery": {
                                            "type": "string",
                                            "description": "TermsOfDelivery"
                                        },
                                        "TermsOfPayment": {
                                            "type": "string",
                                            "description": "TermsOfPayment"
                                        },
                                        "TimeBasisReference": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "TimeBasisReference"
                                        },
                                        "Total": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Total"
                                        },
                                        "TotalToPay": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "TotalToPay"
                                        },
                                        "TotalVAT": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "TotalVAT"
                                        },
                                        "VATIncluded": {
                                            "type": "boolean",
                                            "description": "VATIncluded"
                                        },
                                        "WayOfDelivery": {
                                            "type": "string",
                                            "description": "WayOfDelivery"
                                        },
                                        "YourReference": {
                                            "type": "string",
                                            "description": "YourReference"
                                        },
                                        "YourOrderNumber": {
                                            "type": "string",
                                            "description": "YourOrderNumber"
                                        },
                                        "ZipCode": {
                                            "type": "string",
                                            "description": "ZipCode"
                                        },
                                        "StockPointCode": {
                                            "type": "string",
                                            "description": "StockPointCode"
                                        },
                                        "StockPointId": {
                                            "type": "string",
                                            "description": "StockPointId"
                                        },
                                        "TaxReductionType": {
                                            "type": "string",
                                            "description": "TaxReductionType"
                                        }
                                    },
                                    "description": "Order"
                                }
                            }
                        }
                    }
                },
                "summary": "Create order",
                "description": "Creates an order",
                "operationId": "CreateOrder",
                "x-ms-visibility": "important",
                "parameters": [
                    {
                        "name": "Order",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "Order": {
                                    "type": "object",
                                    "properties": {
                                        "@url": {
                                            "type": "string",
                                            "description": "@url",
                                            "title": "@url"
                                        },
                                        "@urlTaxReductionList": {
                                            "type": "string",
                                            "description": "@urlTaxReductionList",
                                            "title": "@urlTaxReductionList"
                                        },
                                        "AdministrationFee": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "AdministrationFee",
                                            "title": "Administration Fee",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "AdministrationFeeVAT": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "AdministrationFeeVAT",
                                            "title": "Administration Fee VAT",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Address1": {
                                            "type": "string",
                                            "description": "Address1",
                                            "title": "Address1",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Address2": {
                                            "type": "string",
                                            "description": "Address2",
                                            "title": "Address2",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "BasisTaxReduction": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "BasisTaxReduction",
                                            "x-ms-visibility": "advanced",
                                            "title": "Basis Tax Reduction"
                                        },
                                        "Cancelled": {
                                            "type": "boolean",
                                            "description": "Cancelled",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "City": {
                                            "type": "string",
                                            "description": "City",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Comments": {
                                            "type": "string",
                                            "description": "Comments",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "ContributionPercent": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "ContributionPercent",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "ContributionValue": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "ContributionValue",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "CopyRemarks": {
                                            "type": "boolean",
                                            "description": "CopyRemarks",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Country": {
                                            "type": "string",
                                            "description": "Country",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "CostCenter": {
                                            "type": "string",
                                            "description": "CostCenter",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Currency": {
                                            "type": "string",
                                            "description": "Currency",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "CurrencyRate": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "CurrencyRate",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "CurrencyUnit": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "CurrencyUnit",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "CustomerName": {
                                            "type": "string",
                                            "description": "CustomerName",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "CustomerNumber": {
                                            "type": "string",
                                            "description": "CustomerNumber",
                                            "title": "Customer Number",
                                            "x-ms-visibility": "important"
                                        },
                                        "DeliveryState": {
                                            "type": "string",
                                            "description": "DeliveryState",
                                            "title": "Delivery State",
                                            "x-ms-visibility": "advanced",
                                            "enum": [
                                                "registration",
                                                "reservation",
                                                "delivery"
                                            ]
                                        },
                                        "DeliveryAddress1": {
                                            "type": "string",
                                            "description": "DeliveryAddress1",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "DeliveryAddress2": {
                                            "type": "string",
                                            "description": "DeliveryAddress2",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "DeliveryCity": {
                                            "type": "string",
                                            "description": "DeliveryCity",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "DeliveryCountry": {
                                            "type": "string",
                                            "description": "DeliveryCountry",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "DeliveryDate": {
                                            "type": "string",
                                            "description": "DeliveryDate",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "DeliveryName": {
                                            "type": "string",
                                            "description": "DeliveryName",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "DeliveryZipCode": {
                                            "type": "string",
                                            "description": "DeliveryZipCode",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "DocumentNumber": {
                                            "type": "string",
                                            "description": "DocumentNumber",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "ExternalInvoiceReference1": {
                                            "type": "string",
                                            "description": "ExternalInvoiceReference1",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "ExternalInvoiceReference2": {
                                            "type": "string",
                                            "description": "ExternalInvoiceReference2",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Freight": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Freight",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "FreightVAT": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "FreightVAT",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Gross": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Gross",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "HouseWork": {
                                            "type": "boolean",
                                            "description": "HouseWork",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "InvoiceReference": {
                                            "type": "string",
                                            "description": "InvoiceReference",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Language": {
                                            "type": "string",
                                            "description": "Language",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "Net": {
                                            "type": "integer",
                                            "format": "int32",
                                            "description": "Net",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "NotCompleted": {
                                            "type": "boolean",
                                            "description": "NotCompleted",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "OfferReference": {
                                            "type": "string",
                                            "description": "OfferReference",
                                            "x-ms-visibility": "advanced"
                                        },
                                        "OrderDate": {
                                            "type": "string",
                                            "description": "OrderDate",
[...]
